name: Acceptance Tests

on:
  push:
    branches: [master]
    paths-ignore: ['*.md']
  pull_request:
    type: [opened, reopened, edited]
    paths-ignore: ['*.md']
  workflow_dispatch:
    inputs:
      ssh-debugging:
        description: Pause job for interactive debugging
        required: true
        type: choice
        default: 'none'
        options:
          - linux
          - macos
          - windows
          - none

jobs:
  linux:
    runs-on: ubuntu-24.04
    steps:
      - name: Start SSH session
        if: ${{ github.event.inputs.ssh-debugging == 'linux' }}
        uses: luchihoratiu/debug-via-ssh@main
        with:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          SSH_PASS: ${{ secrets.SSH_PASS }}
      - name: Install PDK
        run: |
          curl -O http://apt.puppet.com/puppet-tools-release-noble.deb
          sudo dpkg -i puppet-tools-release-noble.deb
          sudo apt update
          sudo apt install -y pdk

          pdk --version
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - name: Provision test fixtures
        run: |
          pdk bundle update
          pdk bundle exec rake spec_prep
      - name: Run acceptance tests
        env:
          OP_TEST_PASSWORD: '${{ secrets.OP_TEST_PASSWORD }}'
          OP_TEST_ACCOUNT: '${{ secrets.OP_TEST_ACCOUNT }}'
          OP_SECRET_KEY: '${{ secrets.OP_TEST_SECRET }}'
          OP_DEVICE: '${{ secrets.OP_DEVICE_UUID }}'
        working-directory: spec/fixtures
        run: |
          eval $(printf '%s' "${OP_TEST_PASSWORD}" |op account add --address my.1password.com --email "${OP_TEST_ACCOUNT}" --signin)

          pdk bundle exec bolt plan run op_data_test::test_password
          pdk bundle exec bolt plan run op_data_test::test_login

  mac:
    runs-on: macos-15
    steps:
      - name: Start SSH session
        if: ${{ github.event.inputs.ssh-debugging == 'macos' }}
        uses: luchihoratiu/debug-via-ssh@main
        with:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          SSH_PASS: ${{ secrets.SSH_PASS }}
      - name: Install PDK
        run: |
          brew tap puppetlabs/puppet
          brew update > /dev/null
          brew install pdk

          export PATH="/opt/puppetlabs/pdk/bin:${PATH}"
          printf '%s\n' '/opt/puppetlabs/pdk/bin' >> $GITHUB_PATH

          pdk --version
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - name: Provision test fixtures
        run: |
          pdk bundle update
          pdk bundle exec rake spec_prep
      - name: Run acceptance tests
        env:
          OP_TEST_PASSWORD: '${{ secrets.OP_TEST_PASSWORD }}'
          OP_TEST_ACCOUNT: '${{ secrets.OP_TEST_ACCOUNT }}'
          OP_SECRET_KEY: '${{ secrets.OP_TEST_SECRET }}'
          OP_DEVICE: '${{ secrets.OP_DEVICE_UUID }}'
        working-directory: spec/fixtures
        run: |
          eval $(printf '%s' "${OP_TEST_PASSWORD}" |op account add --address my.1password.com --email "${OP_TEST_ACCOUNT}" --signin)

          pdk bundle exec bolt plan run op_data_test::test_password
          pdk bundle exec bolt plan run op_data_test::test_login

  windows:
    runs-on: windows-2025
    steps:
      - name: Start SSH session
        if: ${{ github.event.inputs.ssh-debugging == 'windows' }}
        uses: luchihoratiu/debug-via-ssh@main
        with:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          SSH_PASS: ${{ secrets.SSH_PASS }}
      - name: Install PDK
        run: |
          choco install -y pdk

          # For some reason, refreshenv no longer works...
          $env:PATH += 'C:\Program Files\Puppet Labs\DevelopmentKit\bin'

          pdk --version
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - name: Provision test fixtures
        run: |
          pdk bundle update
          pdk bundle exec rake spec_prep
      - name: Run acceptance tests
        env:
          OP_TEST_PASSWORD: '${{ secrets.OP_TEST_PASSWORD }}'
          OP_TEST_ACCOUNT: '${{ secrets.OP_TEST_ACCOUNT }}'
          OP_SECRET_KEY: '${{ secrets.OP_TEST_SECRET }}'
          OP_DEVICE: '${{ secrets.OP_DEVICE_UUID }}'
        working-directory: spec/fixtures
        run: |
          Invoke-Expression $(Write-Output $Env:OP_TEST_PASSWORD |op account add --address my.1password.com --email $Env:OP_TEST_ACCOUNT --signin)

          $env:PATH += 'C:\Program Files\Puppet Labs\DevelopmentKit\bin'

          pdk bundle exec bolt plan run op_data_test::test_password
          pdk bundle exec bolt plan run op_data_test::test_login
